
  <footer class="page-footer font-small  mdb-color bg-primary darken-3 pt-4" style="height: 80px;">
    <!-- Footer Elements -->
  
    <div class="container">
      <ul class="text-center">
        <li class="list-inline-item">
          <h5 class="mb-1">For More Info</h5>
        </li>
        <li class="list-inline-item">
          <a
            type="button"
            mdbBtn
            color="white"
            [outline]="true"
            [rounded]="true"
            class="waves-light"
            mdbWavesEffect
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            routerLink="/contact" 
            >Contact Us</a
          >
        </li>
      </ul>
  
    
    </div>

  
  </footer>
  <!-- Footer -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <app-contact></app-contact>
      </div>
    </div>
  </div>
  